<body>
<main role="main" class="container mt-4">
    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://source.unsplash.com/iPsOfXA79U4/800x600" class="d-block w-100" alt="Carousel Image 1">
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/P7Siasw9aN4/800x600" class="d-block w-100" alt="Carousel Image 2">
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/9InoCDfQu1w/800x600"  class="d-block w-100" alt="Carousel Image 3">
        </div>
      </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> -->

<div class="d-flex justify-content-center align-items-center">
    <img src="https://source.unsplash.com/iPsOfXA79U4/800x500"  alt="Cat image">
</div>

    <div class="mt-4">
      <h2>About Purrfect Paws</h2>
      <p>Welcome to Purrfect Paws, the ultimate destination for cat lovers looking to find their purrfect feline companion. Our app is dedicated to connecting you with a wide variety of adorable cats available for adoption.

At Purrfect Paws, we believe in the power of finding forever homes for cats in need. Our app provides a user-friendly platform where you can easily browse through profiles, photos, and descriptions of cats waiting for their loving families. With just a few taps, you can explore the charming personalities and stories of these wonderful feline friends.

We are here to support you throughout your adoption journey. Purrfect Paws offers a seamless communication channel between potential adopters and shelters, making it easier to arrange meet-and-greets and ask any questions you may have about the cats. Join the Purrfect Paws community today and embark on a heartwarming journey of cat adoption. Together, let's create countless stories of love, companionship, and purrs that will last a lifetime.</p>
    </div>
<div class="mt-4">
      <h4>Some of our cats looking for home</h4>
      <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img src="https://source.unsplash.com/0przFioBl74/200" class="card-img-top" alt="Testimony Image 6">
                  <div class="card-body">
                    <p class="card-text text-center">Bella</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="https://source.unsplash.com/FZdsNiYklQ8/200" class="card-img-top" alt="Testimony Image 2">
                  <div class="card-body">
                    <p class="card-text text-center">Simba</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="https://source.unsplash.com/53ISYyUskc0/200" class="card-img-top" alt="Testimony Image 3">
                  <div class="card-body">
                    <p class="card-text text-center">Daisy</p>
                  </div>
                </div>
              </div>
            </div>
            </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img src="https://source.unsplash.com/xPk4Vf6jBpk/200" class="card-img-top" alt="Testimony Image 4">
                  <div class="card-body">
                    <p class="card-text text-center">Chloe</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="https://source.unsplash.com/r4QW74_p2hI/200" class="card-img-top" alt="Testimony Image 5">
                  <div class="card-body">
                    <p class="card-text text-center">Marmar</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="https://source.unsplash.com/jXqvVxrtmdg/200" class="card-img-top" alt="Testimony Image 1">
                  <div class="card-body">
                    <p class="card-text text-center">Luna</p>
                  </div>
                </div>
              </div>
            </div>
             </div>
        </div>
        <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </main>

<!-- <footer class="bg-light text-center py-3 mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>Contact us</h4>
          <div><a href = "mailto: purrfect@paws.com" class="text-decoration-none text-reset">Email us</a></div>
          <div><a href="tel:123-456-7890" class="text-decoration-none text-reset">Call us</a></div>
        </div>
        <div class="col-md-6">
          <h4>Follow Us</h4>
          <a href="https://www.facebook.com">
          <mat-icon>facebook</mat-icon>
          </a>
        </div>
      </div>
    </div>
    <p>&copy; 2023 Purrfect Paws. All rights reserved.</p>
  </footer> -->

  
  </body>