<body>
<main role="main" class="container mt-4">
    <div style="width: 800px; height: 500px; margin: 0 auto">
  <app-image-slider [slides]="slides"></app-image-slider>
</div>

    <div class="mt-5">
      <h2 class="text-center "><strong>Purrfect Paws</strong></h2>
      <p>Welcome to Purrfect Paws, the ultimate destination for cat lovers looking to find their purrfect feline companion. Our app is dedicated to connecting you with a wide variety of adorable cats available for adoption.

At Purrfect Paws, we believe in the power of finding forever homes for cats in need. Our app provides a user-friendly platform where you can easily browse through profiles, photos, and descriptions of cats waiting for their loving families. With just a few taps, you can explore the charming personalities and stories of these wonderful feline friends.

We are here to support you throughout your adoption journey. Purrfect Paws offers a seamless communication channel between potential adopters and shelters, making it easier to arrange meet-and-greets and ask any questions you may have about the cats. Join the Purrfect Paws community today and embark on a heartwarming journey of cat adoption. Together, let's create countless stories of love, companionship, and purrs that will last a lifetime.</p>
    </div>
<div class="mt-4">
      <h3 class="text-center"><strong>Some of our cats looking for home</strong></h3>
      <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img src="https://source.unsplash.com/0przFioBl74/200" class="card-img-top" alt="Testimony Image 6">
                  <div class="card-body">
                    <p class="card-text text-center">Bella</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="https://source.unsplash.com/FZdsNiYklQ8/200" class="card-img-top" alt="Testimony Image 2">
                  <div class="card-body">
                    <p class="card-text text-center">Simba</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="https://source.unsplash.com/53ISYyUskc0/200" class="card-img-top" alt="Testimony Image 3">
                  <div class="card-body">
                    <p class="card-text text-center">Daisy</p>
                  </div>
                </div>
              </div>
            </div>
            </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img src="https://source.unsplash.com/xPk4Vf6jBpk/200" class="card-img-top" alt="Testimony Image 4">
                  <div class="card-body">
                    <p class="card-text text-center">Chloe</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="https://source.unsplash.com/r4QW74_p2hI/200" class="card-img-top" alt="Testimony Image 5">
                  <div class="card-body">
                    <p class="card-text text-center">Marmar</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="https://source.unsplash.com/jXqvVxrtmdg/200" class="card-img-top" alt="Testimony Image 1">
                  <div class="card-body">
                    <p class="card-text text-center">Luna</p>
                  </div>
                </div>
              </div>
            </div>
             </div>
        </div>
        <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </main>
  
  </body>