<body>
<main role="main" class="container mt-4">
    <div style="width: 800px; height: 500px; margin: 0 auto">
  <app-image-slider [slides]="slides"></app-image-slider>
</div>

    <div class="mt-5 mb-5">
      <h2 class="text-center "><strong>Purrfect Paws</strong></h2>
      <p>Welcome to Purrfect Paws, the ultimate destination for cat lovers looking to find their purrfect feline companion. Our app is dedicated to connecting you with a wide variety of adorable cats available for adoption.

At Purrfect Paws, we believe in the power of finding fur-ever homes for cats in need. Our app provides a user-friendly platform where you can easily browse through profiles, photos, and descriptions of cats waiting for their loving families. With just a few taps, you can explore the charming personalities and stories of these wonderful feline friends.

We are here to support you throughout your adoption journey. Purrfect Paws offers a seamless communication channel between potential adopters and shelters, making it easier to arrange meet-and-greets and ask any questions you may have about the cats. As soon as you submit your inquiry, we get in contact with you to make all the necessary arrangements. Join the Purrfect Paws community today and embark on a heartwarming journey of cat adoption. Together, let's create countless stories of love, companionship, and purrs that will last a lifetime.</p>
    </div>
<div class="container" style="background-color: #fce9f1; border-radius: 10px;">
  <div class="row ">
    <div class="col-12 text-center mt-5">
      <h2><strong>Check out adoption advice</strong></h2>
    </div>
  </div>

  <div class="row">
    <div class="col m-3 p-5">
      <div class="text-center">
        <h2>Why we recommend adopting</h2>
        <p>There are numerous reasons why adoption should be your preferred choice. However, let's address an unfortunate reality. Every year, thousands of pets are abandoned in the streets and left to fend for themselves, some even discarded in dumpsters. This heartbreaking situation is particularly evident among stray cats, with thousands of them suffering from hunger and neglect. We share this information not to burden you with guilt or despair, but to emphasize the urgent need for adoption. Your decision to provide a loving home can make an immense difference in the lives of these vulnerable animals.</p>
      </div>
    </div>
    <div class="col m-3 p-5">
      <div class="text-center">
        <h2>How to find the purrfect cat</h2>
        <p>When searching for the perfect cat to adopt, consider your lifestyle and home environment. Reflect on factors such as energy level, temperament, and compatibility with children or other pets. Visit shelters, interact with cats, and observe their behavior. Look for a connection, a spark that tells you this is the cat for you. Don't solely focus on looks, but seek a feline companion that brings joy and companionship. Give a deserving cat a forever home, and embark on a rewarding journey of love and happiness.
</p>
      </div>
    </div>
  </div>
</div>


  </main>
  
  </body>