@media (max-width: 992px) {
    .media-query{
        width: 700px;
        height: auto;
    }
}

@media (max-width: 768px) {
    .media-query{
        width: 500px;
        height: auto;
    }
}

@media (max-width: 576px) {
    .media-query{
        width: 300px;
        height: auto;
    }
}