<form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="mx-auto w-50 border border-secondary p-5"
    >
    <h2 class="h4 mb-4 text-center">Login</h2>
    <div class="form-group p-2">
    <label>Email</label>
    <input
        type="text"
        id="email"
        class="form-control mb-4"
        placeholder="example@example.com"
        formControlName="email"
    /></div>
    <div class="form-group p-2">
    <label>Password</label>
    <input
        type="password"
        id="password"
        class="form-control mb-4"
        placeholder="Type your password here"
        formControlName="password"
    /></div>
    <div class="text-center">
    <button type="submit" class="btn btn-dark mb-3" [disabled]="!form.valid">
        Submit
    </button>
    </div>
    <div class="text-center">
        <p>You don't have an account? <a [routerLink]="['/register']" style="color: #c2185b;">Sign up</a></p>
    </div>
</form>
