.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    width: 400px;
        
}

button{
    background-color: #c2185b
}

.form-group {
margin-bottom: 3px;
}