




<div *ngIf="animals.length">
    <table class="table table-striped">
        <thead>
            <th scope="col">
              <span>Sort by:</span>
              <button (click)="toggleSort('age')" igxButton="outlined" class="m-1"  >Age</button>
              <button (click)="toggleSort('breed')" igxButton="outlined" class="m-1">Breed

              </button>
            </th>



        </thead>










        <tbody>




<div class="row">
  <div *ngFor="let animal of animals" class="col-sm-4 mb-4">
    <div class="card">
      <img class="card-img-top" [src]="animal.image" alt="Pet image">
      <div class="card-body">
        <h5 class="card-title">{{ animal.name }}</h5>
        <p class="card-text">{{ animal.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Breed: {{ animal.breed }}</li>
        <li class="list-group-item">Age: {{ animal.age }}</li>
        <li class="list-group-item">Gender: {{ animal.gender }}</li>
      </ul>
      <div class="card-body d-flex justify-content-center align-items-center">
        <button class="btn" (click)="addToFavorites()" igxButton="fab">
          <span>Add to favorites</span>
          <igx-icon fontSet="material">favorite</igx-icon>
        </button>
        <!-- <a href="#" class="card-link">Another link</a> -->
      </div>
    </div>
  </div>
</div>



        </tbody>
    </table>
</div>