.alert-container {
    position: fixed;
    z-index: 9999;
    background: transparent;
    width: 85%;
    bottom: 10px;
}

.social-icons{
    margin-top: 10px;
}

.linkedin-icon svg,
.github-icon svg {
  margin-right: 10px;
}

.fixed-footer {
  position: relative;
  bottom: 0;  
  width: 100%; 
}