<div class="container mt-4">
    <div class="row">
    <nav class="p-2 navbar navbar-expand navbar-light bg-light justify-content-between">
        <span class="navbar-brand">
        <strong>
            <a href="#" routerLink="" class="text-decoration-none text-black">
            {{ title }}
            </a>
            </strong>
        </span>

      <span *ngIf="!(isLoggedIn$ | async); else username"> Animal Adoption App</span>
        <ng-template #username>
        <span>{{loggedInUsername$ | async}}</span>
        <button class="ms-2 btn btn-danger btn-sm" (click)="onlogout()">Logout</button>
        </ng-template>

        <ul *ngIf="isLoggedIn$ | async; else loggedOut" class="navbar-nav">
            <lib-dropdown
            [dropdownLabel]="'Menu'"
            [items]="menu">
            </lib-dropdown>
        </ul>

        <ng-template #loggedOut>
        <div class="d-flex align-items-center">
            <a class="btn btn-primary btn-sm me-2" routerLink="/login">Login</a>
            <a class="btn btn-secondary btn-sm" routerLink="/register">Sign up</a> 
        </div>
        </ng-template>



        
    </nav>
    </div>
    <div class="row mt-2">
    <lib-alert
      *ngIf="isLoading$ | async"
        [type]="'info'"
        [text]="'Communicating with backend ...'"
        [spinner]="true">
    </lib-alert>

    <lib-alert
    *ngFor="let alert of alerts; index as i"
    [type]="alert.type ?? 'info'"
    [heading]="alert.heading"
    [text]="alert.text"
    (dismiss)="onAlertDismiss(i)">
    </lib-alert>
    
    <router-outlet></router-outlet>
    </div>
</div>