<div class="body-container">
  <div class="container main-container mt-4">
    <div class="row">
      <nav
        class="p-2 navbar navbar-expand navbar-light justify-content-between"
        style="background-color: #333; border-radius: 10px; height: 70px"
      >
        <span class="navbar-brand">
          <strong>
            <a href="#" routerLink="" class="text-decoration-none text-black">
              <img
                src="assets/images/logo.svg"
                alt="Purrfect Paws Logo"
                class="logo-image"
              />
            </a>
          </strong>
        </span>

        <span
          *ngIf="!(isLoggedIn$ | async); else username"
          class="text-white"
        ></span>
        <ng-template #username>
          <span class="text-white">{{ loggedInUsername$ | async }}</span>
          <button mat-button color="warn" (click)="onlogout()">Logout</button>
        </ng-template>

        <ul *ngIf="isLoggedIn$ | async; else loggedOut" class="navbar-nav">
          <lib-dropdown [dropdownLabel]="'Menu'" [items]="menu"> </lib-dropdown>
        </ul>

        <ng-template #loggedOut>
          <div class="d-flex align-items-center">
            <button mat-button color="primary" routerLink="/login">
              Login
            </button>
            <button mat-button color="accent" routerLink="/register">
              Sign up
            </button>
          </div>
        </ng-template>
      </nav>
    </div>

    <div class="row mt-2">
      <div class="alert-container">
        <lib-alert
          *ngIf="isLoading$ | async"
          [type]="'info'"
          [text]="'Loading...'"
          [spinner]="true"
        >
        </lib-alert>

        <lib-alert
          *ngFor="let alert of alerts; index as i"
          [type]="alert.type ?? 'info'"
          [heading]="alert.heading"
          [text]="alert.text"
          (dismiss)="onAlertDismiss(i)"
        >
        </lib-alert>
      </div>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2 class="mt-3 mb-4">Contact us</h2>
          <div>
            <a
              href="mailto: purrfect1paws@gmail.com"
              class="text-decoration-none text-white fs-5"
              >Email</a
            >
          </div>
          <div class="mt-2">
            <a
              href="tel:123-456-7890"
              class="text-decoration-none text-white fs-5"
              >Call</a
            >
          </div>
        </div>



<div class="col-md-6">
  <h2 class="text-center mb-2 mt-3">Message us directly</h2>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
        <div class="row">
          <div class="form-group col-md-6 col-lg-6">
            <label for="Email">Email</label>
            <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="Email">
          </div>
          <div class="form-group col-md-6 col-lg-6">
            <label for="fullname">Full Name</label>
            <input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="message">Message</label>
          <textarea class="form-control" formControlName="Message" name="message"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary mt-3" [disabled]="!FormData.valid">Submit</button>
      </form>
    </div>
  </div>
</div>




        <div class="col-md-3">
          <h2 class="mt-3 mb-4">Follow Us</h2>
          <div class="social-icons">
            <a [href]="linkedinLink" class="linkedin-icon" target="_blank">
              <img src="assets/images/linkedin.svg" class="social-svg" />
            </a>
            <a [href]="githubLink" class="github-icon" target="_blank">
              <img src="assets/images/github.svg" class="social-svg" />
            </a>
          </div>
        </div>
      </div>
    </div>
  <p class="mt-5">&copy; 2023 Purrfect Paws. All rights reserved.</p>
  </footer>
</div>
