<form [formGroup]="form" (ngSubmit)="save()" class="mx-auto w-50 border border-secondary p-5">
  <h2 class="h4 mb-4 text-center">Sign Up</h2>
    <div class="form-group p-2">
    <label>First Name</label>
    <input type="text" class="form-control" formControlName="firstname" placeholder="Enter First Name">
  </div>
  <div class="form-group p-2">
    <label>Last Name</label>
    <input type="text" class="form-control" formControlName="lastname" placeholder="Enter Last Name">
  </div>
  <div class="form-group p-2">
    <label>Username</label>
    <input type="text" class="form-control" formControlName="username" placeholder="Enter Username">
  </div>

  <div class="form-group p-2">
    <label>Email</label>
    <input type="email" class="form-control" formControlName="email" placeholder="Enter Email">
  </div>

  <div class="form-group p-2">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password" placeholder="Must contain at least 8 characters">
  </div>
  <div class="text-center">
  <button type="submit" class="btn btn-dark m-2" [disabled]="!form.valid">Sign Up</button>
  </div>
</form>
